services:
    -
        class: PHPStan\WordPress\IsWpErrorFunctionTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.functionTypeSpecifyingExtension
    -
        class: PHPStan\WordPress\WpThemeMagicPropertiesClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: PHPStan\WordPress\RedirectCanonicalDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: PHPStan\WordPress\EscSqlDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: PHPStan\WordPress\GetPostDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: PHPStan\WordPress\GetPostsDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
parameters:
    bootstrapFiles:
        - ../../php-stubs/wordpress-stubs/wordpress-stubs.php
        - bootstrap.php
    dynamicConstantNames:
        - WP_DEBUG
        - WP_DEBUG_LOG
        - EMPTY_TRASH_DAYS
        - WP_CLI
    earlyTerminatingFunctionCalls:
        - wp_die
        - wp_send_json
        - wp_send_json_success
        - wp_send_json_error
        - wp_nonce_ays
        - dead_db
