services:
    -
        class: SzepeViktor\PHPStan\WordPress\HookDocBlock
    -
        class: SzepeViktor\PHPStan\WordPress\ApplyFiltersDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: SzepeViktor\PHPStan\WordPress\EscSqlDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: SzepeViktor\PHPStan\WordPress\NormalizeWhitespaceDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: SzepeViktor\PHPStan\WordPress\ShortcodeAttsDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: SzepeViktor\PHPStan\WordPress\StripslashesFromStringsOnlyDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: SzepeViktor\PHPStan\WordPress\SlashitFunctionsDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: SzepeViktor\PHPStan\WordPress\WpParseUrlFunctionDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: SzepeViktor\PHPStan\WordPress\WpSlashDynamicFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: SzepeViktor\PHPStan\WordPress\HookDocsVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor
    -
        class: SzepeViktor\PHPStan\WordPress\AssertWpErrorTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
rules:
    - SzepeViktor\PHPStan\WordPress\HookCallbackRule
    - SzepeViktor\PHPStan\WordPress\HookDocsRule
    - SzepeViktor\PHPStan\WordPress\WpConstantFetchRule
parameters:
    bootstrapFiles:
        - ../../php-stubs/wordpress-stubs/wordpress-stubs.php
        - bootstrap.php
    dynamicConstantNames:
        # Debug constants
        - WP_DEBUG
        - WP_DEBUG_LOG
        - WP_DEBUG_DISPLAY
        # Directory constants
        - ABSPATH
        - WP_PLUGIN_DIR
        - WP_LANG_DIR
        - WP_CONTENT_DIR
        - WPMU_PLUGIN_DIR
        # Templating constants
        - WP_DEFAULT_THEME
        # Filesystem constants
        - FS_CONNECT_TIMEOUT
        - FS_TIMEOUT
        - FS_CHMOD_DIR
        - FS_CHMOD_FILE
        # Other constants
        - COOKIE_DOMAIN
        - EMPTY_TRASH_DAYS
        - SCRIPT_DEBUG
    earlyTerminatingFunctionCalls:
        - wp_send_json
        - wp_nonce_ays
    earlyTerminatingMethodCalls:
        IXR_Server:
            - output
        WP_Ajax_Response:
            - send
