<?xml version="1.0"?>
<ruleset>
    <file>bootstrap.php</file>
    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>tests/data/*</exclude-pattern>
    <exclude-pattern>tests/functions.php</exclude-pattern>

    <rule ref="PSR12NeutronRuleset">
        <exclude name="Generic.Files.LineLength"/>
        <exclude name="PEAR.Commenting.ClassComment"/>
        <exclude name="PEAR.Commenting.FileComment"/>
    </rule>

    <!-- PHPCS does not understand yield -->
    <rule ref="NeutronStandard.Functions.TypeHint.UnusedReturnType">
        <exclude-pattern>tests/DynamicReturnTypeExtensionTest.php</exclude-pattern>
    </rule>
</ruleset>
