includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: max
    paths:
        - bootstrap.php
        - src/
    ignoreErrors:
        -
            path: src/GetPostDynamicFunctionReturnTypeExtension.php
            message: "#^Strict comparison using === between 'OBJECT'\\|PhpParser\\\\Node\\\\Expr and '(ARRAY_N|ARRAY_A|OBJECT)' will always evaluate to false\\.$#"
        -
            path: src/GetPostDynamicFunctionReturnTypeExtension.php
            message: "#^Strict comparison using !== between PhpParser\\\\Node\\\\Expr and 'OBJECT' will always evaluate to true\\.$#"
