includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: 9
    scanFiles:
        # AssertWpErrorTypeSpecifyingExtension needs WP_Error
        # AssertNotWpErrorTypeSpecifyingExtension needs WP_Error
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    paths:
        - bootstrap.php
        - src/
        - tests/
    excludePaths:
        - tests/data/
